body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption, input, textarea {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: "Microsoft Yahei", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

html, body {
  background-color: #ffffff;
  color: #333333;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
img {border: 0}
input:focus, button {
  outline: none;
}

/** ======================== 公共样式 ======================== **/
.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
/* 按钮 */
.xw-button_default {
  display: block;
  width: 176px;
  height: 54px;
  line-height: 54px;
  background: #246CE9;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}
.xw-button_default_middle {
  display: inline-block;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  background: #246CE9;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.xw-button-default-icon {
  position: relative;
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0 34px 0 58px;
  background: #246CE9;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.xw-button-default-icon .xw-button-icon {
  position: absolute;
  top: 18px;
  left: 34px;
  display: inline-block;
  font-size: 0;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
  background-position: center;
  vertical-align: middle;
}
.xw-button-outline-default {
  display: inline-block;
  height: 30px;
  line-height: 28px;
  padding: 0 8px;
  border: 1px solid #246CE9;
  border-radius: 2px;
  color: #246CE9;
  font-size: 16px;
  cursor: pointer;
}

/* 标题 */
.content-item-title {
  position: relative;
  height: 56px;
}
.content-item-title .item-img {
  height: 44px;
  opacity: 0.6;
}
.content-item-title .item-title {
  position: absolute;
  left: 0;
  bottom: 13px;
  font-size: 24px;
  color: #31373D;
}
.content-item-title .item-title-line {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 48px;
  height: 5px;
  background: #246CE9;
}
/* 顶部样式 */
.header {
  width: 100%;
  height: 64px;
  background-color: rgba(2, 6, 18, 0.5);
}
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header-logo {
  float: left;
  display: inline-block;
  height: 36px;
  margin-top: 14px;
}
.header-logo .header-logo-img {
  width: 244px;
  height: 36px;
}
.header-nav {
  float: right;
}
.header-nav .nav-item {
  display: inline-block;
  line-height: 64px;
  padding: 0 8px;
  margin-left: 16px;
}
.header-nav .nav-item a {
  display: block;
  font-size: 18px;
  color: #FFFFFF;
}
.header-nav .nav-item.active {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
}
.header-nav .nav-item.active:after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 4px solid #246CE9;
}
/* 底部样式 */
.footer {
  width: 100%;
  height: 92px;
  background: #24242C;
}
.footer .footer-content {
  padding-top: 20px;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}
.footer .footer-content .copyright {
  margin-right: 60px;
}
.footer .footer-content p {
  margin-top: 4px;
}

/** ======================== index ====================== **/
/* banner 图 */
.banner-box {
  width: 100%;
  height: 532px;
  background-color: #C2CAD8;
}
.banner-box .banner-pic {
  width: 100%;
  height: 532px;
}
.banner-box .banner-info {
  position: absolute;
  left: 0;
  top: 170px;
  width: 100%;
}
.banner-box .banner-info .banner-info-inner {
  width: 1200px;
  margin: 0 auto;
}
.banner-box .banner-info .xw-button_default {
  margin-top: 32px;
}
.banner-box .banner-info h2 {
  font-size: 48px;
  color: #ffffff;
}
.banner-box .banner-info p {
  margin-top: 8px;
  font-size: 28px;
  color: #ffffff;
}
/* bxSlider */
.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: 0;
  left: 0;
}
.bx-wrapper .bx-pager {
  font-size: 0;
  height: 12px;
  padding-top: 0;
  bottom: 32px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #ffffff;
  opacity: 0.6;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  opacity: 1;
  width: 40px;
  background-color: #ffffff;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #ffffff;
}

.content-meta-box {
  width: 100%;
  overflow: hidden;
  margin-top: 64px;
  margin-bottom: 80px;
}
.content-meta-box .meta-item {
  width: 25%;
  float: left;
  text-align: center;
}
.content-meta-box .meta-item .meta-item-inner {
  width: 250px;
  height: 200px;
  margin: 2px auto;
  padding: 0 20px;
  box-shadow: 0 0 6px 0 rgba(223,228,235,0.73);
  border-radius: 4px;
}
.content-meta-box .meta-item .meta-item-icon {
  width: 64px;
  height: 64px;
  margin-top: 26px;
  margin-bottom: 7px;
}
.content-meta-box .meta-item .meta-item-title {
  margin-bottom: 13px;
  font-size: 18px;
  color: #31373D;
}
.content-meta-box .meta-item .meta-item-text {
  text-align: left;
  font-size: 14px;
  color: #505860;
}

.about-us-content {
  position: relative;
  margin-top: 30px;
  margin-bottom: 80px;
}
.about-us-content .about-us-info {
  width: 767px;
  height: 388px;
  line-height: 32px;
  padding: 32px;
  background: #F7F9FB;
  font-size: 18px;
  color: #31373D;
  letter-spacing: 0;
}
.about-us-content .about-us-img {
  position: absolute;
  right: 0;
  bottom: 23px;
  width: 455px;
  height: 341px;
}

/** ======================== joinUs ====================== **/
.page-top{
  width: 100%;
  height: 310px;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.join-way-box {}
.join-way-list {
  margin-bottom: 32px;
  text-align: center;
}
.join-way-list .join-way-title {
  margin-top: 32px;
  padding: 16px 0;
  border-bottom: 1px solid #D8D8D8;
  text-align: left;
}
.join-way-list .join-way-step {
  margin: 40px 0;
  padding-left: 92px;
  text-align: center;
  overflow: hidden;
}
.join-way-list .join-way-step .join-step-name {
  float: left;
  display: inline-block;
  padding: 22px 26px;
  line-height: 1;
  border-radius: 32px;
  background: #E5EBF6;
  border: 1px solid #C2CAD8;
  overflow: hidden;
  font-size: 18px;
  color: #31373D;
  letter-spacing: 0;
}
.join-way-list .join-way-step .join-step-arrow {
  float: left;
  display: inline-block;
  width: 74px;
  height: 14px;
  margin: 25px 23px;
  background: url("../imgs/step_arraw.png") no-repeat;
  background-size: 100% 100%;
}

/** ======================== recruit ====================== **/
.recruit-header-bg {
  background-color: rgba(2, 6, 18, 1);
}
.office-box {
  padding-top: 56px;
  margin-top: 64px;
  overflow: hidden;
}
.office-box .office-item {
  float: left;
  position: relative;
  width: 570px;
  height: 200px;
  margin: 0 15px 32px 15px;
  padding: 16px 20px;
  background: #FFFFFF;
  box-shadow: 0 0 6px 0 rgba(223,228,235,0.73);
}
.office-box .office-item .xw-button-outline-default {
  position: absolute;
  top: 28px;
  right: 20px;
}
.office-box .office-item .office-item-inner {
  height: 168px;
  overflow: hidden;
}
.office-box .office-item .office-title {
  line-height: 28px;
  font-size: 20px;
  font-weight: bold;
  color: #31373D;
}
.office-box .office-item .office-meta {
  margin-top: 4px;
  line-height: 22px;
  font-size: 16px;
  color: #000000;
}
.office-box .office-item .office-info {
  margin-top: 13px;
  font-size: 16px;
  color: #505860;
  letter-spacing: 0;
  line-height: 25px;
}

/* 职位弹层 */
.xw-layer-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.xw-office-layer {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 720px;
  margin-left: -360px;
  padding: 44px 48px 100px 48px;
  background-color: #ffffff;
}
.xw-office-layer .office-title {
  font-size: 20px;
}
.xw-office-layer .office-meta {
  margin-top: 4px;
  line-height: 22px;
  font-size: 16px;
  color: #000000;
}
.xw-office-layer .office-info {
  margin-top: 13px;
  font-size: 14px;
  color: #505860;
  letter-spacing: 0;
  line-height: 22px;
}
.xw-office-layer .office-layer-ft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72px;
  border-top: 1px solid #D8D8D8;
  text-align: center;
}
.xw-office-layer .office-layer-ft .xw-button_default_middle {
  margin-top: 16px;
}

/** ======================== contactUs ====================== **/
.xw-position-box {
  position: relative;
  width: 100%;
  margin-top: 64px;
  padding-top: 56px;
}
.xw-position-box .xw-position-img {
  width: 100%;
  height: 320px;
}
.xw-position-box .xw-info {
  position: absolute;
  top: 56px;
  right: 0;
  width: 50%;
}
.xw-position-box .xw-info p {
  margin-bottom: 10px;
  font-size: 20px;
  color: #31373D;
}
.xw-position-box .xw-info .xw-button-default-icon {
  margin-top: 30px;
}
.join-message-box {
  margin-top: 80px;
}